body {
  background-color: white;
  margin: 0px;
  height: 8000px;
  padding-top: 75px;
  width: 100vw;
  overflow-x: clip;
}

.content {
  margin-top: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.asphalt {
  position: relative;
  height: auto;
  background-size: auto 90%;
  background-position: top;
  background-image: url(../img/asphalt.jpg);
  color: white;
  font-size: 50px;
}

.nav {
  position: fixed;
  z-index: 10;
  top: 0px;
  background-color: #2b8739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 150%;
  padding: 20px 0px;
  height: 35px;
  width: 100%;
}

.logo {
  margin-left: 20px;
  color: white;
  font-family: "Sonny Vol 2";
  font-weight: bold;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-logo {
  position: relative;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 50%;
  max-height: 80vh;
  min-height: 80vh;
  height: auto;
  margin-top: 20vh;
  font-family: "Veles";
  font-size: 60px;
  text-align: center;
}

.big-logo img {
  width: 100%;
}

.no-focus {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dot {
  color: #0b4f29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  font-family: TimesNewRoman;
  font-size: 60px;
  margin: 0px 10px;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Stem";
  margin-left: auto;
  margin-right: 30px;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav-button {
  margin-left: 15px;
}

.vk {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vk img {
  width: 40px;
}

.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  border-radius: 15px;
}

.text-box {
  font-family: "Stem";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.text-box .desc {
  background-color: #edebeb;
  padding: 2%;
  border-radius: 15px;
  font-weight: 350;
}

.title {
  font-size: 21px;
  font-weight: 400;
}

.green {
  color: #2b8739;
}

.box {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 10px;
  width: 50%;
}

.rollercoaster {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rollercoaster img {
  height: 100%;
}

.patch {
  width: 50%;
  border-radius: 15px;
  padding: 0px 10px;
  font-family: "Chalk";
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.members_count {
  border: 2px dashed rgba(255, 255, 255, 0.6);
  margin: 5% 0;
  width: auto;
  padding: 25px 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-family: "Chalk";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green_chalk {
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 0;
  background-image: url(../img/green_chalk.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

.button {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  overflow: clip;
  position: relative;
  background-position: center;
  font-family: "Chalk";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 45px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px dashed rgba(255, 255, 255, 0.6);
  width: 300px;
  height: 100px;
  margin: 20px;
  font-size: 22px;
}

.green_chalk:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .asphalt {
    font-size: 30px;
  }
  .desc {
    font-size: 15px;
  }
  .big-logo {
    width: 90%;
  }
  .box {
    width: 90%;
  }
  .patch {
    width: 90%;
    font-size: 15px;
  }
  .rollercoaster {
    height: 30vh;
  }
  .nav {
    height: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav a {
    display: none;
  }
  .nav-buttons {
    display: none;
  }
  .green_chalk:hover {
    opacity: 0;
  }
  .big-logo {
    font-size: 40px;
  }
  .button {
    width: 200px;
    height: 70px;
    font-size: 17px;
  }
  .members_count {
    border: 2px dashed rgba(255, 255, 255, 0.6);
    margin: 5% 0;
    width: auto;
    padding: 15px 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-family: "Chalk";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}