body {
  background-color: white;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  opacity: 0;
  display: none;
}

.content {
  margin-top: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

::-moz-selection {
  background: rgb(79, 79, 79);
  color: #84cf74;
}

::selection {
  background: rgb(79, 79, 79);
  color: #84cf74;
}

::-moz-selection {
  background: rgb(79, 79, 79);
  color: #84cf74;
}

.asphalt {
  position: relative;
  height: auto;
  background-size: auto 100%;
  background-position: top;
  background-image: url(../img/asphalt.jpg);
  color: white;
  font-size: 50px;
}

.nav {
  position: fixed;
  z-index: 10;
  top: 0px;
  background-color: #2b8739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 150%;
  padding: 20px 0px;
  height: 35px;
  width: 100%;
}

.logo {
  margin-left: 20px;
  color: white;
  font-family: "Sonny Vol 2";
  font-weight: bold;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-logo {
  position: relative;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 50%;
  max-height: 80vh;
  min-height: 80vh;
  height: auto;
  margin-top: 20vh;
  font-family: "Veles";
  font-size: 60px;
  text-align: center;
}

.big-logo img {
  width: 100%;
}

.no-focus {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dot {
  height: 26px;
  padding-bottom: 0px;
  margin: 0px 10px;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Stem";
  margin-left: auto;
  margin-right: 30px;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav-button {
  margin-left: 15px;
}

.vk {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vk img {
  width: 40px;
}

.text-box {
  font-family: "Stem";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.desc {
  width: 100%;
  background-color: #edebeb;
  padding: 2%;
  border-radius: 15px;
  font-weight: 350;
}

.title {
  font-size: 1.1rem;
  font-weight: 400;
}

.green {
  color: #2b8739;
}

.box {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 10px;
  width: 50%;
}

.img-box {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  max-height: 100vh;
}

.img-box img {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: auto;
  max-width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news {
  max-width: 50%;
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background-color: #edebeb;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 50px;
}

.news img {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  width: auto;
  max-width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
  margin-bottom: 10px;
  -o-object-position: center;
     object-position: center;
}

.news video {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 100vh;
  margin-bottom: 10px;
}

.rollercoaster {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news p {
  font-family: "Stem";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  width: 95%;
  font-weight: 350;
}

.rollercoaster img {
  height: 100%;
}

.patch {
  width: 50%;
  border-radius: 15px;
  padding: 0px 10px;
  font-family: "Chalk";
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.patch img {
  height: 200px;
}

.members_count {
  border: 2px dashed rgba(255, 255, 255, 0.6);
  margin: 1% 0;
  width: auto;
  padding: 25px 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-family: "Chalk";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green_chalk {
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 0;
  background-image: url(../img/green_chalk.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

.button {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  overflow: clip;
  position: relative;
  background-position: center;
  font-family: "Chalk";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 45px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px dashed rgba(255, 255, 255, 0.6);
  width: 300px;
  height: 100px;
  margin: 20px;
  font-size: 22px;
}

.green_chalk:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 1;
}

.about {
  text-align: right;
  font-family: "Stem";
  margin-top: 20px;
  width: 25vw;
  min-height: 14vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.3);
  padding-right: 20px;
  padding-left: 12%;
  border-radius: 15px;
  position: relative;
  font-size: 1.3vw;
  font-weight: 250;
  color: rgba(255, 255, 255, 0.7);
}

.right {
  text-align: left;
  padding-left: 20px;
  padding-right: 12%;
}

.about img {
  position: absolute;
  top: -40px;
  width: 30%;
  height: auto;
  background-color: #8c823e;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.left img {
  left: -50px;
}

.right img {
  right: -50px;
}

.sky {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 100px;
  width: 100%;
}

.lenta {
  width: 100%;
  background-image: url(../img/lenta.jpg);
  height: 40px;
  opacity: 0.8;
  background-size: 40% auto;
}

.leaves {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: -1;
  background-image: url(../img/stars.jpg);
  background-size: auto 100vw;
  opacity: 0;
}

#vkontakte_count {
  font-size: 40px;
}

@media screen and (max-width: 1000px) {
  .news {
    max-width: 90%;
    min-width: 90%;
    margin-bottom: 25px;
  }
  .right {
    padding-right: 22%;
  }
  .left {
    padding-left: 22%;
  }
  .about {
    margin-top: 40px;
    width: 50vw;
    font-size: 3.2vw;
  }
  .asphalt {
    font-size: 30px;
  }
  .desc {
    font-size: 15px;
  }
  .big-logo {
    width: 90%;
  }
  .box {
    width: 90%;
  }
  .patch {
    width: 90%;
    font-size: 15px;
  }
  .rollercoaster {
    display: none;
  }
  .nav {
    height: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav a {
    display: none;
  }
  .nav-buttons {
    display: none;
  }
  .green_chalk:hover {
    opacity: 0;
  }
  .big-logo {
    font-size: 40px;
  }
  .button {
    width: 200px;
    height: 70px;
    font-size: 17px;
  }
  .members_count {
    border: 2px dashed rgba(255, 255, 255, 0.6);
    margin: 5% 0;
    width: auto;
    padding: 15px 10px 0px 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-family: "Chalk";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .patch img {
    height: 100px;
  }
  .asphalt {
    background-size: auto 120%;
  }
  #vkontakte_count {
    font-size: 25px;
  }
}